[Unit]
Description=mojenx-tor API service
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/mojenx-tor
ExecStart=/usr/local/bin/mojenx-tor -listen=127.0.0.1:8080
Restart=on-failure

[Install]
WantedBy=multi-user.target
